# -----------------------------------------
# ОБЩИЙ ФАЙЛ КОНФИГУРАЦИИ МИКРОСЕРВИСНОЙ АРХИТЕКТУРЫ
# -----------------------------------------
# Этот файл содержит все переменные окружения для всех сервисов
# с префиксами для избежания конфликтов имен.
# -----------------------------------------

# -----------------------------------------
# ОБЩИЕ НАСТРОЙКИ
# -----------------------------------------

# Docker сеть
NETWORK_NAME=microservices-net

# -----------------------------------------
# INVENTORY СЕРВИС
# -----------------------------------------

# gRPC настройки
INVENTORY_GRPC_HOST=inventory
INVENTORY_GRPC_PORT=50051
INVENTORY_SERVICE_ADDRESS=inventory:50051

# Логгер
INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true

# MongoDB
INVENTORY_MONGO_IMAGE_NAME=mongo:7.0.5
INVENTORY_EXTERNAL_MONGO_PORT=27017
INVENTORY_MONGO_HOST=mongo-inventory
INVENTORY_MONGO_PORT=27017
INVENTORY_MONGO_INITDB_DATABASE=inventory
INVENTORY_MONGO_AUTH_DB=admin
INVENTORY_MONGO_INITDB_ROOT_USERNAME=inventory
INVENTORY_MONGO_INITDB_ROOT_PASSWORD=inventory
INVENTORY_MONGO_MIGRATIONS_DIR=/app/migrations
# -----------------------------------------
# ORDER СЕРВИС
# -----------------------------------------

# HTTP настройки
ORDER_HTTP_HOST=order
ORDER_HTTP_PORT=8080
ORDER_HTTP_TIMEOUT=5000
ORDER_HTTP_SHUTDOWN_TIMEOUT=1000

# Логге
ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true

# PostgreSQL
ORDER_POSTGRES_IMAGE_NAME=postgres:17.0-alpine3.20
ORDER_EXTERNAL_POSTGRES_PORT=5432
ORDER_POSTGRES_HOST=postgres-order
ORDER_POSTGRES_PORT=5432
ORDER_POSTGRES_DB=order
ORDER_POSTGRES_USER=order
ORDER_POSTGRES_PASSWORD=order
ORDER_POSTGRES_MIGRATION_PATH=/app/migrations

# Зависимости
ORDER_INVENTORY_SERVICE_ADDRESS=inventory:50051
ORDER_PAYMENT_SERVICE_ADDRESS=payment:50052

# -----------------------------------------
# PAYMENT СЕРВИС
# -----------------------------------------

# gRPC настройки
PAYMENT_GRPC_HOST=payment
PAYMENT_GRPC_PORT=50052
PAYMENT_SERVICE_ADDRESS=payment:50052

# Логгер
PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true

# MongoDB
PAYMENT_MONGO_IMAGE_NAME=mongo:7.0.5
PAYMENT_EXTERNAL_MONGO_PORT=27018
PAYMENT_MONGO_HOST=mongo-payment
PAYMENT_MONGO_PORT=27017
PAYMENT_MONGO_INITDB_DATABASE=payments
PAYMENT_MONGO_AUTH_DB=admin
PAYMENT_MONGO_INITDB_ROOT_USERNAME=payment
PAYMENT_MONGO_INITDB_ROOT_PASSWORD=payment
PAYMENT_MONGO_MIGRATIONS_DIR=/app/migrations
